.row{
    display: flex;
    height: 100%;
}

html,body{
    margin-top:-10px;
    margin-left:0px;
    margin-right:0px;
}

#header{
    background-image: url('src/banniere.png ');
    margin-bottom: 1%;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#serveurs{
    background-color: #7fdefa;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#players{
    background-color: #8a258b;
    color: white;
    font-family: 'Roboto Mono', monospace;

}

/*.pilotage{
    font-family: "Comic Sans MS";
    font-color:black;
}*/

.pilotage{
    width:40px;
    height:30px;
    background:white;
    font:bold 13px Arial;
    border-radius:50%;
    border:none;
    color:#8a258b;
}

#hrServeurs{
    color:black;
    align-content: center;
}

#filArianne{
    margin-top: 10px;
    margin-bottom: 5px;
    color: grey;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

/*
.col-md-6{
    position: relative;
    width:50%;
    top:30%;
}

.col-md-7{

    position: relative;
    left:50%;
}*/