.row{
    display: flex;
    height: 100%;
}

html,body{
    margin-top:-10px;
    margin-left:0px;
    margin-right:0px;
}

#header{
    background-image: url('src/banniere.png ');
    margin-bottom: 1%;
    color: white;
    font-family: 'Roboto Mono', monospace;
}

#serveurs{
    background-color: transparent;
    background: rgba(252,210,250,0.0);

    color: white;
    font-family: 'Roboto Mono', monospace;
}


#elementListeServeur{
    list-style: none;
    margin-right: 11%;
}

#logoServeur{
    margin-left: 45%;
}

#players{
    background: rgba(252,210,250,0.0);
    color: white;
    font-family: 'Roboto Mono', monospace;

}

#player1:hover {
    background: rgba(252,210,250,0.1);
}

/*.pilotage{
    font-family: "Comic Sans MS";
    font-color:black;
}*/

.pilotage{
    width:40px;
    height:30px;
    background:transparent;
    font:bold 18px Arial;
    border-radius:50%;
    border:none;
    color:white;
}

#hrServeurs{
    color:black;
    align-content: center;
}

#filArianne{
    margin-top: 10px;
    margin-bottom: 5px;
    color: grey;
}

.carousel{
    background: #2f4357;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.list-group-item-action{
    color: darkblue;
    width: 50%;
    margin-left: 20%;
}

#filArianne{
    font-style: italic;
    color: black;
    margin-left: 5%;
    background-color: transparent;
}

.repertoireBouton{
    border: none;
    background-color: transparent;
}

#repertoireBoutonRetour{
    border: none;
    background-color: transparent;
}

#liBoutonRetour{
    color: darkblue;
    width: 50%;
    margin-left: 20%;
}

/*
.col-md-6{
    position: relative;
    width:50%;
    top:30%;
}

.col-md-7{

    position: relative;
    left:50%;
}*/