.row{
    display: flex;
    height: 100%;
}

html,body{
    margin-top:-10px;
    margin-left:0px;
    margin-right:0px;
}

#header{
    background-image: url('../src/banniere.png ');
}

#serveurs{
    background-color: lightskyblue;
    color: white;
}

#players{
    background-color: lightsalmon;
    color: white;
}

/*.pilotage{
    font-family: "Comic Sans MS";
    font-color:black;
}*/

.pilotage{
    width:40px;
    height:30px;
    background:white;
    font:bold 13px Arial;
    border-radius:50%;
    border:none;
    color:lightsalmon;
}

#hrServeurs{
    color:black;
    align-content: center;
}

#filArianne{
    margin-top: 10px;
    margin-bottom: 5px;
    color: grey;
}


/*
.col-md-6{
    position: relative;
    width:50%;
    top:30%;
}

.col-md-7{

    position: relative;
    left:50%;
}*/